fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
python-jose[cryptography]==3.5.0
scikit-learn==1.7.1
numpy==2.3.2
python-multipart==0.0.20
sqlalchemy==2.0.38
pyjwt==2.10.1
python-dotenv==1.0.1
psycopg2-binary==2.9.10
